<td>
	<% if (poster !== '') { %>
	<img src="<%= poster %>" class="thumb" />
	<% } %>
	<%= title %>
</td>
<td><%= genre %></td>
<td><%= rating %></td>
<td>
	<button class="btn btn-small btn-info info" title="+Info" value="<%= _id %>"><a class="icon-white icon-info-sign"></a></button>
	<a class="btn btn-small btn-warning" title="Editar" href="#movies/edit/<%= _id %>"><i class="icon-white icon-edit"></i></a>
	<button class="btn btn-small btn-danger remove" title="Eliminar" value="<%= _id %>"><i class="icon-white icon-remove"></i></button>
</td>