<h3>Listado de peliculas</h3>
<div id="filter"><label>Genero:</label></div>
<table>
 <tbody>
  <tr>
    <td>Titulo</td>
    <td>Genero</td>
    <td>A&ntilde;o</td>
    <td>-</td>
  </tr>
  <% _.each(movies, function(movie){ %>
  <tr>
    <td><a href="movies/<%= movie.id %>"><%= movie.title %></a></td>
    <td><%= movie.genre %></td>
    <td><%= movie.year %></td>
    <td>
     <button class="edit" value="<%= movie.id %>">Editar</button><br />
     <button class="remove" value="<%= movie.id %>">Eliminar</button>
    </td>
  </tr>
  <% }); %>
 </tbody>
</table>
<br />
<button class="add">Nueva</button>